body{
	font-family: "Helvetica Neue",Helvetica,Arial,;
}

a{
	outline: 0;
}

.navbar-default {
	background-color: #CBB677;
	margin-bottom: 0;
	border: none;
	border-radius: 0px;
}

.logo {
	width: 120px;
	height: 80px;
	padding: 10px 15px;
}

.navbar-brand,
.navbar-nav li a {
	height: 80px;
	line-height: 80px;
	padding: 0 25px;
	font-size:1.3em;
	color: #450084;
}

.navbar-brand{
	padding-right: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #450084;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #450084;	
	background-color: #D5BE7A;
}

.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover{
  	background-color: #DDCB95;
  	color: #450084;
}

.navbar-default .navbar-toggle {
	margin-top: 25px;
}
  
/* social icons */
li.facebook a {
	width: 80px;
	color: #3B5998 !important;
	background-color: #CBB677;
	font-size: 2.2em;
	text-align: center;
	box-shadow: none;	
}

/* HEADER */
header {
	height: 15em;
	text-align: center;
	background-color: #D5BE7A;
	opacity: 0.8;
	padding-top: 2em;	
}

header h2 {
	font-size: 4em;
	color: #450084;
}

header p {
	color:#000000;
	text-align: center;
	font-size: 2em;
}

/*-- Gradient-- */
.gradient {
    background-color: #eadfbd;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZDViZTdhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(213, 190, 122)),color-stop(1, rgb(255, 255, 255)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(213, 190, 122) 0%,rgb(255, 255, 255) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(213, 190, 122) 0%,rgb(255, 255, 255) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(213, 190, 122) 0%,rgb(255, 255, 255) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd5be7a",endColorstr="#ffffffff",GradientType=0);
    }
}
/*-- /Gradient-- */




/*-------------------------------------------------------------------------*/




/* HOME MAIN CONTENT */
#buy, #sell{
	width:60%;
	height:0%;
	margin-top: 30px;
	padding-top: 10%;
	padding-bottom: 10%;
	border-radius: 25px;
	font-size: 3em;
	color:#fff;
	text-align:center;
	background:#D5BE7A;
	-webkit-box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
	box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
}

#buy:hover, #sell:hover{
	text-decoration: none;
}

/**--Hover radial effect--**/
.hvr-radial-out:before {
	transition-duration: 0.5s;
	background-color: #450084;
}

#buy{
	/margin-left: 20%;
	float: right;
}

#sell{
	/margin-right: 20%;
	float: left;
}


/*----Modal----*/
.modalWrapper{
	position: fixed;
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.modalBox{
	position: absolute;
	width: 40%;
	top:10%;
	left:30%;
}

.modalTabs{
	height: 60px;
}

#activeTab{
	background-color: #DDCB95
}

.login{
	display: inline;
	position: absolute;
	height: 60px;
	width: 50%;
	background-color: #CBB677;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	border-top-left-radius: 6px;
}

.signUp{
	display: inline;
	position: absolute;
	height: 60px;
	width: 50%;
	background-color: #CBB677;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	right: 0;
	border-top-right-radius: 6px;
}

.login:hover{
	background-color: #D5BE7A;
}

.signUp:hover{
	background-color: #D5BE7A;
}

.modalContent{
	position: absolute;
	width: 100%;
	background-color: #DDCB95;
	height: 275px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.loginContent{
	position: absolute;
	width: 100%;
	padding: 15px;
}

.signupContent{
	position: absolute;
	visibility: hidden;
	width: 100%;
	padding: 15px;
}



/*-------------------------------------------------------------------------*/




/* BUYPAGE MAIN CONTENT */

.outline{
	background-color: rgba(213, 190, 122, 0.5);
	border:1px solid #D5BE7A;
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 30px;
	-webkit-box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
	box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
}

#resultsContainer{
	-webkit-box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
	box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
	border-radius: 6px;
	height: 25em;
	border: 1px solid #D5BE7A;
	background-color: rgba(213, 190, 122, 0.5);
}

#resultsOutline{
	border-radius: 6px;
	overflow: scroll;
	height: 19em;
}

#resultsHeader{
	text-align: center;
	color: #6B339D;
}

.input-group.input-group-lg{
	margin-bottom: 0.5%;
}

li.list-group-item{
	background-color: #D5BE7A;
	width: 80%;
	margin-left: 10%;
	border-radius: 6px;
}

div.list-group{
	margin-bottom: 0px;
}




/*-------------------------------------------------------------------------*/




/* SELLPAGE MAIN CONTENT */
.sweet-alert section p{
	text-align: justify;
	margin-left: 20%;
}




/*-------------------------------------------------------------------------*/




/* ABOUTPAGE MAIN CONTENT */
#aboutFirst{
	margin-top: 5%;
}
.aboutHeader{
	color: #450084;
	text-align: left;
	font-size: 35px;
	opacity: 0.8;
}

.aboutText{
	font-size: 20px;
	line-height: 125%;
	font-weight: normal;
	margin-top: 5%;
}

.icons{
	max-width: 50%;
	margin-top: 15%;
	margin-left: 25%;
}

#ourTeam{
	font-size: 45px;
	margin-top: 10%;
	text-align: center;
}

div.thumbnail{
	margin-top: 5%;
	-webkit-box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
	box-shadow: 10px 14px 14px 1px rgba(0,0,0,0.35);
	border: 1px solid #D5BE7A;
}

.caption img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.caption img:hover{
	border: 1px solid #450084;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}





/*-------------------------------------------------------------------------*/


/*--Responsive Changes--*/

@media (max-width: 768px) {
	.navbar-default .navbar-nav>li>a {
		width: 100%;
		border-bottom: 1px solid #450084;
		text-align: center;
	}
	
	li.facebook a {
		font-size: 4.4em;
	}
	header{
		height: 10em;
		padding-top: 1em;
	}
	header h2 {
		font-size: 3em;
	}
	header p{
		font-size: 1.5em;
	}

	#buy, #sell{
		float: none;
		margin-left: 20%;
	}	
}

@media (max-width: 600px) {
	header h2 {
		font-size: 2.5em;
	}	
	header p{
		font-size: 1em;
	}
}

@media (max-width: 500px) {
	header h2 {
		font-size: 2em;
	}
	header p {
		text-align: center;
	}	
}

@media (max-width: 400px) {
	header h2 {
		font-size: 1.5em;
	}	
	header p {
		text-align: center;
	}	
}

@media (max-width: 300px) {
	header h2 {
		font-size: 1.5em;
	}
	header p {
		font-size: 0.75em;
	}	
}
